html {
    height: 100%;
    background-image: linear-gradient(to bottom right, black, grey);
}


.box, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    
}

.header {
    max-width: 200px;
}

.box:hover {
    text-align: center;
	text-align-last: none;
    color: red

}

.logo {
    max-width: 150px;
    margin: auto;
    display: block;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    max-width: 85%;

}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

  figcaption {
    margin-top: -25px;
    text-align: center;
  }
  figcaption:hover {
    margin-top: -25px;
    text-align: center;
    color: bisque;
  }

.spotify {
    margin: auto;
    display: block;
}

p{
    text-align: center;
    margin-left: 20%;
    margin-right: 205;
}
